@charset "UTF-8";
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf")
      format("truetype");
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf")
      format("truetype");
}

*{box-sizing: border-box;}
.nanumbarungothic * {
  font-family: "NanumBarunGothic", sans-serif;
}
body {
  font-family: "NanumBarunGothic", sans-serif;
}

#body-wrap {
  min-width: 1100px;
  width: 100%;
  align-items: center;
  position: relative;
}
.top-ad {    z-index: 99; overflow: hidden;
  position: relative;
  display: block;
  text-align: center;
  width: 100%; 
  background-color: #484848;
  box-sizing: border-box;
  
}
.top-ad  p {position: absolute; right: 0px; top: 60px;}
.top-ad > img { object-fit: contain; width: 100%;height: 80px;}

.main-header {
  width: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  right: 50%;
  translate: 50% 0;
  height: 91px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 5;
  min-width: 1100px;
  font-family: "NanumBarunGothic";
}
.main-header > .top-logo {
  position: absolute;
  left: 50%;
  top: 23px;
  width: 140px;
  max-height: 91px;
  margin: 0 0 0 -70px;
  padding: 0;
}
.main-header > .top-logo a {
  width: 140px;
  height: 47px;
  line-height: 0;
  display: block;
  background: url(../headerimg/logo-white.png) center center no-repeat;
}

.util-area {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  font-family: NanumBarunGothic, Dotum, "돋움", sans-serif;
  font-weight: 400;
}
.util-area .left-link {
  position: absolute;
  left: 0;
  top: 18px;
}
.util-area .left-link a {
  margin-right: 20px;
}
.util-area .right-link {
  position: absolute;
  right: 0;
  top: 18px;
}
.util-area .right-link a {
  margin-right: 0;
  margin-left: 20px;
}
.util-area a {
  color: #888;
  display: block;

  float: left;
  font-size: 13px;
  margin-right: 15px;
}
.util-area a:hover {
  text-decoration: underline;
}

/**/
.link-area {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
.link-area a {
  float: left;
  height: 36px;
  width: 40px;
}
.left-ico {
  position: absolute;

  top: 42px;
}
.left-ico .ham {
  width: 40px;
  background: url("../headerimg/ham.png") center center no-repeat;
}
.left-ico .search {
  background: url(../headerimg/ico-search-white.png) center center no-repeat;
  border-bottom: none;
}
.right-ico {
  position: absolute;
  right: 0;
  top: 42px;
}
.right-ico .schedule {
  background: url("../headerimg/ico-schedule-white.png") center center no-repeat;
}
.right-ico .my-mega {
  background: url("../headerimg/ico-mymega-white.png") center center no-repeat;
}
/**/

#gnb {
  position: relative;
  width: 1100px;
  top: 50px;
  margin: 0 auto;
  z-index: 5;
}
#hover {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  top: 90px;
  height: 44px;
  width: 100%;
  z-index: 2;
}
#gnb > .gnb1 > li > a {box-sizing: border-box;
  position: absolute;
  width: 30px;
  display: block;
  text-indent: -9999px;
  height: 40px;

}
#gnb > .gnb1 > li > a:hover {border-bottom: 3px solid #fff; ;
  

}
#gnb > .gnb1 > li > a:hover + .sub {
  
}
.sub {
  display: none;
  position: absolute;
  top: 40px; 
  
}
.sub ul {height:0px;
  text-align: center;
  
}
.sub li {
  float: left;
}

.sub a {
  color: white;
  display: block;
  line-height: 44px;
  font-size: 15px;
  margin-left: 15px;
  z-index:3 
}
.sub a:hover {
  text-decoration: underline;
}
#gnb > .gnb1 > li .gnb-event,
#gnb > .gnb1 > li .gnb-store {
  width: 45px;
}


.gnb-movie {
  background: url(../headerimg/gnb-txt-movie-white.png) center 0 no-repeat;
  left: 165px;
}
.gnb-movie + .sub {
  left: 65px;
}
.gnb-movie + .sub {
  left: 55px;
}
.gnb-booking {
  background: url(../headerimg/gnb-txt-reserve-white.png) center 0
    no-repeat;
  left: 255px;
}
.gnb-booking + .sub {
  left: 155px;
}
.gnb-theater {
  background: url(../headerimg/gnb-txt-theater-white.png) center 0
    no-repeat;
  left: 345px;
}
.gnb-theater + .sub {
  left: 280px;
}
.gnb-event {
  background: url(../headerimg/gnb-txt-event-white.png) center 0 no-repeat;
  right: 347px;
}
.gnb-event + .sub {
  right: 247px;
}
.gnb-store {
  background: url(../headerimg/gnb-txt-store-white.png) center 0 no-repeat;
  right: 240px;
}
#gnb > .gnb1 > li > .gnb-store:hover {
  border-bottom: none;
}
.gnb-benefit {
  background: url(../headerimg/gnb-txt-benefit-white.png) center 0
    no-repeat;
  right: 150px;
}
.gnb-benefit + .sub {
  right: 100px;
}

/**/

section {
  width: 100%;
}
.section1 {
  min-width: 1100px;
  position: relative;
  padding: 0 0 80px 0;
  height: 911px;
  overflow: hidden;
}
.section1 .bg::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(85, 63, 5, 1) 0%,
    rgba(23, 17, 1, 0) 50%,
    rgba(85, 63, 5, 1) 100%
  );
  z-index: 3;
}
.section1 .bg {
  min-width: 1100px;
  height: 100%;
  width: 100%;
}

.section1 .bg::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(3, 1, 21, 0.7);
  z-index: 3;
  height: 100%;
}
.section1 .bg-pattern {
  margin: 0;
  background: url(../sec1img/bg-movie-detail-pattern.png) repeat 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
}
.section1 .bg img {
  overflow: clip;

  width: 100%;

  filter: blur(15px);
  overflow-clip-margin: content-box;
}
/**/
.cont-area {
  width: 1100px;
  margin: 0 auto;
  z-index: 4;
  height: auto;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
}
.box-office-txt {
  margin: 169px 0 20px 0;
  text-align: center;
  position: relative;
}
.box-office-txt h2 {
  letter-spacing: -0.5px;
  font-size: 16px;
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  display: inline-block;
  line-height: 30px;
}
.box-office-txt a {
  position: absolute;
  right: 0px;
  top: 20px;
  text-decoration: none;
  color: #aaa;

  font-size: 15px;
  line-height: 5px;
  letter-spacing: 0px;
}
.box-office-txt a:hover {
  text-decoration: underline;
}
.box-office-txt .more {
  
  
}
.main-movie ::before {
  clear: both;
  content: "";
  display: block;
}

.main-movie ::after {
  clear: both;
  content: "";
  display: block;
}
.main-movie ol {
  display: flex;
  justify-content: space-between;
}
.main-movie li:first-child {
  margin: 0;
}

.main-movie li {
  float: left;
  margin-left: 40px;
  position: relative;
}
.main-movie a {
  color: white;
}
.main-movie a:hover .wrap {
  opacity: 1;
}
.screen-type {
  position: absolute;
  top: 5px;
  right: 0px;
}
.screen-type::after {
  content: "";
  clear: both;
  display: block;
}
.screen-type p {
  float: left;
  margin: 5px 10px 0 0;
  padding: 7px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.6);
}
.rank {
  font-family: robo;
  position: absolute;
  top: 0px;
  font-size: 30px;
  padding: 5px 0 0 15px;
  font-style: italic;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  background: url(../sec1img/bg-main-movie-rank.png) no-repeat;
  width: 100%;
  height: 30%;
}
.rank span {
  text-indent: -9999px;
}
.main-movie .poster {
  border-radius: 5px;
  width: 245px;
  height: 352px;
}
.wrap {
  transition: 0.3s;
  opacity: 0;
  position: absolute;
  width: 245px;
  height: 352px;
  top: 0px;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  word-wrap: break-word;
  letter-spacing: -1px;
}
.summary {
  font-size: 14px;
  line-height: 25px;
}

.score {
  position: absolute;
  padding: 20px 0px;
  width: 100%;
  text-align: center;
  align-items: center;
  bottom: 0;
  left: 0;
}

.preview {
  border-top: 1px solid #aaa;

  width: 80%;
  text-align: center;
  margin: auto;
  padding-top: 15px;
}
.preview p {
  display: inline-block;
}

.tit {
  font-size: 13px;
  line-height: 35px;
}
.number {
  padding: 0 20px;
  font-size: 25px;
  font-weight: 300;
  color: #59bec9;
}

.btn-util {
  width: 100%;
  height: 36px;
  margin-top: 8px;
  color: white;
}
.button {
  margin-right: 2px;
  height: 100%;
  display: inline-block;
  width: 80px;
  color: white;
  background: black;
  border: 1px solid #555;
  border-radius: 3px;
  cursor: pointer;
}
.button i {
  font-size: 15px;
  padding: 3px;
}
.case {
  height: 100%;
  display: inline-block;
  background: #037b94;
  text-align: center;
  line-height: 35px;
  border-radius: 3px;
  width: 159px;
  font-size: 15px;
  letter-spacing: 1px;
}
.case a {
  width: 100%;
  display: block;
}

.search-link {
  position: absolute;
  bottom: 150px;
  z-index: 4;
  width: 1100px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
}

.search-link div:first-child:after {
  display: none;
}
.search-link a:hover {
  text-decoration: underline;
}

.cell {
  position: relative;
  text-align: center;
  padding-top: 15px;

  height: 75px;
  float: left;
  color: white;
  width: 25%;
}

.cell::after {
  display: block;
  content: "";
  width: 1px;
  height: 40%;
  background-color: #444;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.search {
  position: relative;
  border-bottom: #444 solid 1px;
  width: 220px;
  display: inline-block;
  height: 60%;
}
.cell > .search > a > i {
  display: block;
  position: absolute;
  right: 0px;
  font-size: 20px;
}
input {
  position: absolute;
  display: block;
  background: transparent;
  border: none;
  line-height: 30px;
  font-size: 15px;
  text-align: left;
  color: #fff;
  padding: 5px;
  padding-bottom: 0px;
  left: 0;
  bottom: 0px;
  width: 180px;
}
input::placeholder {
  color: #aaa;
}

.cell a {
  line-height: 45px;
  font-size: 15px;
  display: inline-block;
  color: white;
}
.cell a::after {
  content: "";
  display: block;
  clear: both;
}
.cell a i {
  color: #fff;
  font-size: 25px;
  margin-right: 5px;
}

.mouse {
  background: url(../sec1img/ico-mouse.png) center center no-repeat;
  content: "";
  width: 16px;
  height: 24px;
  z-index: 99;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 100px;
  animation: mouse 2s ease-in infinite;
}
@keyframes mouse {
  0%,
  100% {
    transform: translateY(5px) translate(-50%);
  }
  33% {
    transform: translateY(5px) translate(-50%);
  }
  50% {
    transform: translateY(-5px) translate(-50%);
  }
  75% {
    transform: translateY(5px) translate(-50%);
  }
}
/*        -------------section2-----------------------------                  */
.section2 {
  padding-bottom: 100px;
  position: relative;
}
.section2::before {
  content: "";
  display: block;
  background: #503396;
  height: 331.5px;
  width: 100%;
  position: absolute;
  top: 520px;
}
.m-wrap {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
.sec2-util {
  width: 100%;
  padding-top: 50px;
  position: relative;
}
.sec2-util h2 {
  font-size: 30px;
  color: #351f66;
  font-weight: 400;
  display: inline-block;
}
.sec2-util a {
  float: right;
}

.more {
  width: 16px;
  height: 16px;
  font-size: 30px;
}
.more ::before {
  display: block;
}
.slide-main {
  position: relative;
}
.slide {
  width: 687px;
  height: 325px;
}

.slide img {
  position: absolute;
}
.slide > a > img {
  left: 300px;
}
.text-img img {
  top: 0;
}

.slide-ctrl {
  bottom: 250px;
  width: 300px;
  position: absolute;
}
.slide-ctrl > div {
  float: left;
}
.slide-util {
  width: 70px;
  padding: 0px 10px 0px 15px;
}
.slide-util button {
  margin: 0 0 0 8px;
  padding: 0;
  height: 12px;
  width: 7px;
  float: left;
  background-color: transparent;
  border: none;
}
.btn-prev {
  background: url(../sec2img/btn-benefit-slider-prev.png) center center
    no-repeat;
}
.btn-next {
  background: url(../sec2img/btn-benefit-slider-next.png) center center
    no-repeat;
}
.btn-play {
  background: url(../sec2img/btn-benefit-slider-play.png) center center
    no-repeat;
}

.page {
  width: 190px;
  vertical-align: top;
}
.page .on {
  background-color: #503396;
}
.page-n {
  background-color: #ebebeb;
  width: 14.286%;
  content: "";
  display: block;
  float: left;
  height: 2px;
}

.right-ad {
  position: absolute;
  right: 0;
  top: 0;
}
.right-ad img {
  border-radius: 5px;
}
.dc div {
  float: left;
  height: 204px;
  box-shadow: rgba(0, 0, 0, 0.3) 10px 15px 10px;
}
.dc img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 5px;
}
.dc::after {
  content: "";
  clear: both;
  display: block;
}
.bo {
  width: 441px;
}
.kakao {
  width: 204px;
  margin-left: 20px;
}
/**/
.sec2-link {
  margin: 0 auto;
  width: 1100px;
  position: relative;
  z-index: 2;
  padding-top: 50px;
}
.sec2-link::after {
  display: block;
  content: "";
  clear: both;
}
.sec2-link div {
  float: left;
  width: 20%;
}
.sec2-link a {
  text-align: center;
  display: block;
  padding-top: 60px;
  font-size: 15px;
  color: white;
  line-height: 30px;
  background-position: center 2px;
  background-repeat: no-repeat;
}
.vip2 {
  background: url(../sec2img/ico-vip-main.png);
}
.sec2-ico2 {
  background: url(../sec2img/ico-membership-main.png);
}
.sec2-ico3 {
  background: url(../sec2img/ico-card-main.png);
}
.sec2-ico4 {
  background: url(../sec2img/ico-event-main.png);
}
.sec2-ico5 {
  background: url(../sec2img/ico-store-main.png);
}

.section3 {
  position: relative;
  background: #252451;
  min-height: 840px;
  width: 100%;
}
.section3 .sec2-util {
  padding-bottom: 40px;
}
.section3 .sec2-util h2 {
  color: white;
}
.section3 .sec2-util a {
  color: #aaa;
  line-height: 3px;
  position: absolute;
  right: 0px;
  bottom: 45px;
}
.section3 .sec2-util i { color:#666}

.section3 .sec2-util a:hover {
  text-decoration: underline;
}
.fa-duotone:hover {
  text-decoration: none;
}
.section3::after {
  content: "";
  clear: both;
  display: block;
}
.cura-main {
  width: 100%;
}
.cura-wrap {
  position: absolute;
  width: 100%;
}
.cura-img {
  padding-left: 20px;
}
.cura-img img {
  width: 300px;
  height: 430px;
}
.cura-txt {
  color: white;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 66.5%;
}
.cura-txt span {
  padding-bottom: 10px;
  font-size: 20px;
  display: block;
}
.cura-txt p:first-of-type {
  font-size: 36px;
  padding-bottom: 30px;
  border-bottom: 1px solid #474681;
}
.cura-txt p:last-of-type {
  font-size: 15px;
  line-height: 1.4rem;
}
.cura-link {
  margin: 10px 0 0 20px;
}
.cura-link div {
  border-radius: 5px;
  float: left;
  margin: 0 5px;
}
.cura-link div a {
  display: block;
  text-align: center;
  display: block;
  height: 48px;
  width: 143px;
  color: white;
  line-height: 2.5;
  font-size: 20px;
}
.cu-left {
  background: transparent;
  border: 1px solid white;
}
.cu-right {
  background: #037b94;
}

.cu-li ul {
  display: block;
  padding: 310px 0 0 370px;
}
.cu-li > ul > li {
  width: 170px;
  float: left;
  margin-left: 15px;
}
.cu-li li:first-child {
  margin-left: 0;
}
.cu-li li a {
  color: white;
  display: block;
  position: relative;
}
.cu-li li img {
  width: 170px;
  height: 244px;
  border-radius: 10px;
}
.cu-li li p {
  margin-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
.cu-li ul :after {
  display: block;
  content: "";
  clear: both;
}
.section4 {
  position: relative;
}
.section4 .sec2-util {
  padding-bottom: 38px;
}
.swipe {
  display: flex;
}

.swipe div:first-child {
  margin-left: 0;
}
.swipe-img {
  position: relative;
  z-index: 2;
  margin-left: 16px;
}
.swipe-img a {
  display: block;
  border-radius: 10px;
  width: 170px;
  height: 170px;
  position: relative;
}
.swipe-new {
  color: white;
  position: absolute;
  width: 50px;
  height: 22px;
  background: #037b94;
  border-radius: 5px;
  font-size: 13px;
  line-height: 25px;
  top: 10px;
  right: 10px;
  text-align: center;
}
.dolb {
  background: url(../sec4img/sec41.png) 0 0 / 170px 340px no-repeat;
}
.priv {
  background: url(../sec4img/sec42.png) 0 0 / 170px 340px no-repeat;
}
.thebu {
  background: url(../sec4img/sec43.png) 0 0 / 170px 340px no-repeat;
}
.bgmx {
  background: url(../sec4img/sec44.png) 0 0 / 170px 340px no-repeat;
}
.compo {
  background: url(../sec4img/sec45.png) 0 0 / 170px 340px no-repeat;
}
.puppy {
  background: url(../sec4img/sec46.png) 0 0 / 170px 340px no-repeat;
}
.swipe-img a:hover {
  background-position: 0 -170px;
}

.sec4-control {
  width: 1100px;
  position: absolute;
  top: 190px;
  left: 50%;
  height: 30px;
  transform: translate(-50%);
}
.sec4-control button {
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 30px;
  border: none;
}
.sec4-control .swprev {
  left: -50px;
  background: url(../sec4img/btn-specialtheater-prev.png);
}
.sec4-control .swnext {
  background: url(../sec4img/btn-specialtheater-next.png);
  right: -50px;
}

.notice {
  width: 100%;
  border: 1px solid #e2e2e2;
  margin-top: 50px;
}
.noti-wrap {
  width: 1100px;
  margin: auto;
  height: 62px;
  position: relative;
  padding: 0 175px 0 95px;
}
.noti-wrap p {
  height: 62px;
  line-height: 62px;
  font-size: 15px;
}
.noti-wrap a {
  color: black;
}
.noti-wrap a:hover {
  text-decoration: underline;
}
.noti-wrap strong {
  color: #037b94;
  font-weight: bold;
  line-height: 63px;
}
.noti-wrap p:first-child {
  position: absolute;
  top: 1px;
  left: 0;
}
.linkp a {
  display: inline-block;
}
.noti-wrap p:first-child::after {
  height: 15px;
  background: #e2e2e2;
  width: 1px;
  display: block;
  content: "";
  position: absolute;
  top: 23px;
  left: 80px;
}
.noti-wrap p:nth-child(3) {
  position: absolute;
  right: 80px;
  top: 0px;
}
.noti-wrap p:nth-child(3)::after {
  height: 15px;
  background: #e2e2e2;
  width: 1px;
  display: block;
  content: "";
  position: absolute;
  top: 23px;
  right: -20px;
}
.noti-wrap p:last-child {
  position: absolute;
  right: -10px;
  top: 0px;
}
.noti-wrap i {display: inline-block; padding-bottom:5px;}
.sec4-link {
  margin: 0 auto;
  width: 1100px;
  position: relative;
  z-index: 2;
  padding: 50px 0;
}
.sec4-link::after {
  clear: both;
  display: block;
  content: "";
}
.sec4-link div {
  float: left;
  width: 16.66666666666667%;
}
.sec4-link a {
  text-align: center;
  display: block;
  padding-top: 60px;
  font-size: 15px;
  color: black;
  line-height: 20px;
  background-position: center 2px;
  background-repeat: no-repeat;
}
.sec4-link a:hover {
  text-decoration: underline;
}
#ad-banner {
  width: 100%;
  background: black;
}
.ad-banner-wrap {
  width: 1100px;
  margin: 0 auto;
}
.sec4-ico {
  background: url(../sec4img/ico-main-customer.png);
}
.sec4-ico2 {
  background: url(../sec4img/ico-main-faq.png);
}
.sec4-ico3 {
  background: url(../sec4img/ico-main-qna.png);
}
.sec4-ico4 {
  background: url(../sec4img/ico-main-group.png);
}
.sec4-ico5 {
  background: url(../sec4img/ico-main-lost.png);
}
.sec4-ico6 {
  background: url(../sec4img/ico-main-boutique.png);
}

footer {
  background: #f8f8fa;
  width: 100%;
  height: 200px;
}
.foot-wrap {
  margin: 0 auto;
  width: 1100px;
}
.footer-top {
  padding: 30px 0;
}
.footer-top ul::after {
  content: "";
  display: block;
  clear: both;
}
.footer-top li {
  float: left;
}
.footer-top li a {
  text-align: center;
  font-size: 13px;
  color: #666;
  display: block;
  line-height: 30px;
  margin-left: 14px;
}
.footer-top li a:hover {
  text-decoration: underline;
}
.footer-top li:first-child a {
  margin-left: 0;
}
.footer-top li:last-child a:hover {
  text-decoration: none;
}
.footer-top li:last-child {
  float: right;
  border-radius: 30px;
  height: 30px;
  width: 106px;
  border: 1px solid #d8d9db;
  margin-left: 0;
}
.footer-top li:last-child a {
  margin: 0;
}
.footer-top li:nth-child(7) {
  font-weight: 700;
}
.footer-bottom::after {
  content: "";
  display: block;
  clear: both;
}
.footer-bottom div {
  float: left;
}
.footer-bottom p {
  font-size: 13px;
  color: #444;
  letter-spacing: 0;
  line-height: 1.5;
}
.foot-log {
  background: url(../footimg/logo-opacity_new2.png);
  width: 150px;
  height: 50px;
  margin-right: 20px;
}
.footer-bottom .sns {
  float: right;
}
.footer-bottom .sns::after {
  content: "";
  display: block;
  clear: both;
}
.footer-bottom .sns a {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #666;
  margin-left: 8px;
}
.youtu {
  background: url(../footimg/ico-youtubeN.png);
}
.insta {
  background: url(../footimg/ico-instagramN.png);
}
.face {
  background: url(../footimg/ico-facebookN.png);
}
.twit {
  background: url(../footimg/ico-twitterN.png);
}
